### María de los Angeles Arista Huerta

*Actividad:* Fase 2 - Entendimiento del negocio

###### Importamos la librería Pandas

In [2]:
import pandas as pd

###### Creamos la variable DataFrame para cargar los datos del archivo

In [3]:
df = pd.read_csv("Datos.csv")

###### Visualización de los primeros 5 registros

In [4]:
df.head()

,Número,Fecha (dd/mm/aa),Nombre actividad,Costo,Presupuesto,Tiempo invertido,Tipo,Momento,No. de personas,Día de deposito,Previsto 1 / Imprevisto 0
0,1,06/08/2023,Regreso a Queretaro,200.0,1500.0,150.0,6.0,1.0,3.0,1.0,1.0
1,2,06/08/2023,Super en soriana,200.0,1300.0,60.0,1.0,2.0,2.0,0.0,1.0
2,3,06/08/2023,Sushi con LA,115.0,1100.0,90.0,4.0,3.0,2.0,0.0,1.0
3,4,07/08/2023,Café Starbucks Capsula,5.0,985.0,15.0,1.0,1.0,1.0,0.0,1.0
4,5,07/08/2023,Pedido en linea Amazon,153.0,980.0,10.0,4.0,1.0,1.0,0.0,1.0

###### Para conocer las dimensiones de nuestro DataFrame

In [5]:
df.shape

(300, 11)

###### Desplegar los nombres de las columnas o atributos de nuestros datos

In [6]:
df.columns

Index(['Número', 'Fecha (dd/mm/aa)', 'Nombre actividad', 'Costo',
       'Presupuesto', 'Tiempo invertido', 'Tipo', 'Momento', 'No. de personas',
       'Día de deposito', 'Previsto 1 / Imprevisto 0'],
      dtype='object')

###### Conocer los tipos de datos que conforman el DataFrame

###### Los principales tipos de datos son:

###### - object: cadena de texto
###### - int64 : número entero
###### - float64: número con decimal

In [7]:
df.dtypes

Número                         int64
Fecha (dd/mm/aa)              object
Nombre actividad              object
Costo                        float64
Presupuesto                  float64
Tiempo invertido             float64
Tipo                         float64
Momento                      float64
No. de personas              float64
Día de deposito              float64
Previsto 1 / Imprevisto 0    float64
dtype: object

###### Desplegar información completa de los datos del dataframe

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Número                     300 non-null    int64
 1   Fecha (dd/mm/aa)           190 non-null    object
 2   Nombre actividad           190 non-null    object
 3   Costo                      188 non-null    float64
 4   Presupuesto                190 non-null    float64
 5   Tiempo invertido           190 non-null    float64
 6   Tipo                       190 non-null    float64
 7   Momento                    190 non-null    float64
 8   No. de personas            190 non-null    float64
 9   Día de deposito            190 non-null    float64
 10  Previsto 1 / Imprevisto 0  190 non-null    float64
dtypes: float64(8), int64(1), object(2)
memory usage: 25.9+ KB

---

Empleando metricas

###### Usamos la función sum( ) en la columna Costo, para conocer el total del monto gastado

In [9]:
df["Costo"].sum()

20453.5

###### Calculamos el total de tiempo invertido con la función sum( )

In [10]:
df["Tiempo invertido"].sum()

9287.0

###### Obtenemos la frecuencia de repetición de las actividades con la función value_counts( )

In [11]:
df["Nombre actividad"].value_counts()

Café Starbucks Capsula      32
Arbitraje                   18
Café Dolce Gusto Capsula    13
Galletas de maquina         11
Sushi con LA                10
                            ..
Starbucks con LA             1
Sushi                        1
Cajas de capsulas            1
Super Semana 5               1
Super semana 10              1
Name: Nombre actividad, Length: 72, dtype: int64

###### Vemos el conteo de actividades con base en su Momento con la función value_counts( )

###### etiquetas de los Momentos:

###### 1. Mañana
###### 2. Tarde
###### 3. Noche

In [12]:
df["Momento"].value_counts()

1.0    68
3.0    65
2.0    57
Name: Momento, dtype: int64

###### conteo de personas involucradas en las actividades con la función value_counts( )

In [13]:
df["No. de personas"].value_counts()

1.0     89
2.0     71
10.0    22
3.0      6
5.0      2
Name: No. de personas, dtype: int64

###### Usamos la propiedad loc y la función idxmax( ) para obtener la información del costo más máximo o gasto más grande realizado

In [14]:
df.loc[df["Costo"].idxmax()]

Número                                        138
Fecha (dd/mm/aa)                       21/09/2023
Nombre actividad             Gastos de graduación
Costo                                      2000.0
Presupuesto                                3076.5
Tiempo invertido                             10.0
Tipo                                          5.0
Momento                                       2.0
No. de personas                               1.0
Día de deposito                               1.0
Previsto 1 / Imprevisto 0                     1.0
Name: 137, dtype: object

###### Con la función groupby( ) y la función sum( ) obtenemos los totales por Tipo de actividad

###### etiquetas de los Tipos:

###### 1. Alimentos/Salud
###### 2. Ahorro/Inversión
###### 3. Ejercicio/Deporte
###### 4. Entretenimiento/Ocio
###### 5. Académico
###### 6. Transporte

In [15]:
df.groupby("Tipo").sum()

,Número,Costo,Presupuesto,Tiempo invertido,Momento,No. de personas,Día de deposito,Previsto 1 / Imprevisto 0
Tipo,,,,,,,,
1.0,10837,6700.5,108674.0,3485.0,202.0,161.0,5.0,90.0
3.0,2434,1467.0,23491.5,1660.0,70.0,227.0,1.0,26.0
4.0,3553,6786.0,41227.5,3332.0,87.0,71.0,3.0,32.0
5.0,645,4200.0,8289.5,200.0,9.0,11.0,3.0,5.0
6.0,676,1300.0,7398.5,610.0,9.0,9.0,2.0,6.0

###### Usamos la función describe( ) para obtener la estadística descriptiva y completar la exploración de nuestros datos

In [16]:
df.describe()

,Número,Costo,Presupuesto,Tiempo invertido,Tipo,Momento,No. de personas,Día de deposito,Previsto 1 / Imprevisto 0
count,300.000000,188.000000,190.000000,190.000000,190.000000,190.000000,190.000000,190.000000,190.000000
mean,150.500000,108.795213,995.163158,48.878947,2.136842,1.984211,2.521053,0.073684,0.836842
std,86.746758,199.509510,492.159911,44.611208,1.509129,0.838721,2.788313,0.261947,0.370486
min,1.000000,5.000000,113.000000,5.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,75.750000,13.000000,667.000000,15.000000,1.000000,1.000000,1.000000,0.000000,1.000000
50%,150.500000,60.000000,971.000000,35.000000,1.000000,2.000000,2.000000,0.000000,1.000000
75%,225.250000,116.250000,1294.000000,60.000000,4.000000,3.000000,2.000000,0.000000,1.000000
max,300.000000,2000.000000,3076.500000,402.000000,6.000000,3.000000,10.000000,1.000000,1.000000