### María de los Angeles Arista Huerta

*Actividad:* Fase 2 - Entendimiento del negocio

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Datos.csv')

In [3]:
df.head()

,Número,Fecha (dd/mm/aa),Nombre actividad,Costo,Presupuesto,Tiempo invertido,Tipo,Momento,No. de personas,Día de deposito,Previsto 1 / Imprevisto 0
0,1,06/08/2023,Regreso a Queretaro,200.0,1500.0,150.0,6.0,1.0,3.0,1.0,1.0
1,2,06/08/2023,Super en soriana,200.0,1300.0,60.0,1.0,2.0,2.0,0.0,1.0
2,3,06/08/2023,Sushi con LA,115.0,1100.0,90.0,4.0,3.0,2.0,0.0,1.0
3,4,07/08/2023,Café Starbucks Capsula,5.0,985.0,15.0,1.0,1.0,1.0,0.0,1.0
4,5,07/08/2023,Pedido en linea Amazon,153.0,980.0,10.0,4.0,1.0,1.0,0.0,1.0

In [4]:
df = df.iloc[:,3:9]

In [5]:
df.head()

   Costo  Presupuesto  Tiempo invertido  Tipo  Momento  No. de personas
0  200.0       1500.0             150.0   6.0      1.0              3.0
1  200.0       1300.0              60.0   1.0      2.0              2.0
2  115.0       1100.0              90.0   4.0      3.0              2.0
3    5.0        985.0              15.0   1.0      1.0              1.0
4  153.0        980.0              10.0   4.0      1.0              1.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Costo             188 non-null    float64
 1   Presupuesto       190 non-null    float64
 2   Tiempo invertido  190 non-null    float64
 3   Tipo              190 non-null    float64
 4   Momento           190 non-null    float64
 5   No. de personas   190 non-null    float64
dtypes: float64(6)
memory usage: 14.2 KB

In [7]:
df.isnull().sum()

Costo               112
Presupuesto         110
Tiempo invertido    110
Tipo                110
Momento             110
No. de personas     110
dtype: int64

In [8]:
df= df.dropna()

In [9]:
df.isnull().values.any()

False

In [10]:
df.columns

Index(['Costo', 'Presupuesto', 'Tiempo invertido', 'Tipo', 'Momento',
       'No. de personas'],
      dtype='object')

In [11]:
x = df[['Presupuesto', 'Tiempo invertido', 'Tipo', 'Momento', 'No. de personas']].values # variables independientes
y = df['Costo'].values # variable dependiente

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [14]:
y_test

array([ 85.,  40., 250., 200., 800.,  80., 115.,  85., 200.,  25.,  40.,
        95.,   5.,  13.,  40., 150., 250.,   5.,   5.,  79.,  40.,   5.,
        75.,  51.,   5.,  70.,  18.,  40.,   5.,  89., 153., 500., 300.,
        15.,  13.,  99.,  20., 150.])